
*{
    margin: 0px;
    padding: 0px;
}


.circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


.nav-color-main{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.55);
    min-height: 9vh;
    font-size: 20px;
    top: 0;
}

.headerimg p{
    position: absolute;
    text-align: center;
    top: 450px;
    color: white;
    font-size: 30px;
    
}

.main-icon-color{
    color: white;
    font-size: 20px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}